[
{<%= baseName %>,
  [ {http_port, 8080}
  , {http_listener_count, 20}
  ]},
{sumo_db,
  [ { log_queries, false }
  , { storage_backends
    , [ { sumo_backend_mysql
        , sumo_backend_mysql
        , [ {username, "<%= baseName %>"}
          , {password, "changeme"}
          , {host,     "localhost"}
          , {port,     3306}
          , {database, "<%= baseName %>"}
          , {poolsize, 10}
          ]
        }
      ]}
  , { repositories
    , [ { mysql
        , sumo_repo_mysql
        , [ {storage_backend, sumo_backend_mysql}
          , {workers, 10}
          ]}
      ]}
  , {docs,
      [<% var delim = ''; _.each(entities, function (entity) { %>
        <%= delim %>{<%= baseName %>_<%= pluralize(entity.name) %>, mysql}<% delim = ', ' }); %>
      ]}
  , {events, []}
  ]},
{lager,
  [ {colored, true},
    {handlers,
      [ {lager_console_backend, debug}
      ]}
  ]}
].
